<% provide(:title, 'Respuestas Contundentes Q&A - Login') %>
<h1>Login</h1>
<%= form_for(:session, url: sessions_path) do |f| %>
	
	<p>
		<%= f.label :username, "Usuario: " %>	<br />
		<%= f.text_field :username %>
	</p>
	<p>
		<%= f.label :password, "Password: " %> <br />
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.submit "Login" %>
	</p>
	

<% end  %>